body {
    background-color:#2d3047;
}

.nav-container a  {
    color: #fafdf6;
    text-decoration: none;
}

.nav-container a:hover{
    background-image: linear-gradient(to right,#8aea92,#2d3047) ;
}


.login-image {
width: 700px;

}

/* .feature-message {
    color:#fafdf6;
    margin-top: 100px;
    font-size: 2rem;
    width: 50%;
} */



.form-container {
    display: flex;
    margin: 200px 100px;
    
}



.greeting-box {
    width: 50vw;
    
}

.title-message {
    margin-top: 50px;
    color: white;
    margin-bottom: 100px;
    
    
    
    text-align: center;
}


#secure, #reliable {
    color:#f5ee9e;
}

.login-container {
    display: flex;
    /* background-color: white; */
   width: 50%;
   justify-content: center;
   align-items: center;
   
}


.login-box {
    background-color:#4f5373;
    width: 70%;
    height: 80%;
    padding-top: 5% auto;
    border-radius: 25px;
    text-align: center;
    /* margin-top: 100px; */
    /* margin:  10% auto; */
    color: white;
}
 

#password-div{
    margin-top: 50px;
    margin-bottom: 50px;
}

#email-div {
    margin: auto;
}
/* NB There is a space under the nav bar where every item added files*/

#login-title {
    margin: 50px auto;
}

input {
    width: 80%;
    height: 2rem;
}

#or {
    display: inline;
    margin-right: 150px;


}

.social-icon {
    margin-top: 10px;
    margin-bottom: 20px;
}
#apple-icon {
    width: 50px;
}

#login-btn {
    background-color: #8aea92;
    font-weight: bold;
    cursor: pointer;
}

#login-btn:hover {
    background-color: #3c9043;
}

.action-link {
    color:#8aea92
}


.copyright {
    text-align: center;
}