/* pallete
#2d3047
#fafdf6
#38b000

*/

body {
    margin: 0;
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Karla', sans-serif;
    font-size: 1.1rem;
/* font-family: 'Quicksand', sans-serif; */
}

a {
    color: #fafdf6;
    text-decoration: none;
}

a:hover{
    background-image: linear-gradient(to right,#8aea92,#2d3047) ;
}

h1,h2,h3, h4 {
    margin: 0;
    
}

nav {
    background-color: #2d3047;
    color: #fafdf6;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
    /* margin-bottom: 2px; */
    
}

.nav-container {
    display: flex;
    align-items: center;
}


.nav-brand {
    margin-right: auto;
    margin-left: 20px;
    color:#8aea92;
    font-size:1.8rem;
    border: solid 0.5px #8aea92;
    background-color:#2d3047;
    padding: 0 10px;
}

#cedi {
    color:#f5ee9e;
    padding: 0;
    

}

.nav-menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    
    


}

.nav-link {
    padding: 20px;
}

.nav-cta {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    
    
}

#log-in, #sign-up {
    
    
    margin-right: 20px;
    width: 100px;
     background-color: transparent;
    color: white;
    height: 50px;
    border-color: #8aea92;
    font-weight: bold;
}

#sign-up {
    background-color: #f5ee9e;
    width: 200px;
    border-style: none;
    color:#2d3047;
}

#log-in:hover, #sign-up:hover {
    background-color:#96ee9dba;
}



.featured-container {
    margin-top: 0;
   
    
}

#cedi-sign {
    height: 31px;
    color:#f5ee9e;
    /* background-color:black; */
 
    filter: grayscale(50%)  ;  
}

#featured-image {
     /* height: 1270px; */
    
     position: relative;
     /* bottom: 200px; */
     width: 100%;
     
     
     
     /* height: 10%; */
}

.featured-message {
    width: 45%;
    position: absolute;
    top: 100px;
    z-index: 0;
    font-size: 2.3rem;
    margin-top: 5%;
    margin-left: 5%;
    padding: 2%;
    text-align: left;
    border: solid rgba(45, 48, 71, 0.08) 10px;
    

    
   
    
    
}

.large-title {
    font-weight: bold;
    color:#50cb5af3;
    text-shadow: 2px 2px #2d3047;
    /* background-color: rgba(45, 48, 71, 0.3) */
}

.small-title {
    margin: 0;
    color: #2d3047;
    font-size: 2rem;
    /* background-color: #2d3047; */
    /* background-color: rgba(45, 48, 71, 0.3) */
}

.medium-title {
    color:#2d3047;
    font-size: 2rem;
    /* background-color: #2d3047; */
    /* background-color: rgba(45, 48, 71, 0.3) */
}

#crypto {
    color:#f7e40a;
}



.trade-btn {
    position: absolute;
    top: 630px;
    margin-left: 5%;
    width: 300px;
    height: 80px;
    background-color: #8aea92;
    color:#2d3047;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 15px;
    border-style: none;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.09), 0 5px  5px 0 rgba(0, 0, 0, 0.1);
}

.trade-btn:hover {
    background-color:#2d3047;
    color: white;
    
}


/*FEATURES SECTION*/

#features {
    text-align: center;
    margin-top: 8%;
    
}

.features-container {
    display: flex;
   
    justify-content: center;
    margin: 2% 10%;
    padding: 0 5%;
}

.feature-item {
    margin: auto 5%;

}


/*PRICES SECTION*/

#pricing {
    display: flex;
    justify-content: center;
    background-color: #2d3047;
    color: #fff;
    padding: 5%;

    
}

.coin {
    text-align: center;
    padding: 2%;
    font-size: 2rem;
    border: solid  1px rgb(24, 26, 39);
    border-radius: 15px;
    background-color: #383c5d;
    
    margin: auto 1%;
}

.coin:hover {
    background-color: #585d8a;
}
  

.coin-icon {
    height: 200px;
    
}

#pricing .trade-btn {
    position: static;
    margin: auto;
}


/*Testimonials*/

#testimonials {
    text-align: center;
    margin: 10% 10%;
   
}

.testimonial-container {
    display: flex;
margin:  2% 1%;
}

#testimonials h6 {
    font-size: 1.2rem;
    margin: 5px;
}

#testimonials p {
    margin: 4%;
    line-height: 1.2;
}

.testimonial-item {
    width: 100%;
    margin: 3%;
    background-color: rgba(248, 241, 211, 0.5);
    padding: 4%;

    
}


.fa-star, .fa-star-half {
    color:#ffbb00e4;
    margin-bottom: 10%;
} 


