body {
    background-color: #2d3047;
    color:#8aea92;
}


.nav-container a  {
    color: #fafdf6;
    text-decoration: none;
}


.nav-container a:hover{
    background-image: linear-gradient(to right,#8aea92,#2d3047) ;
}



 .sign-up-container {
    margin-top: 100px;
    margin-left: 1000px;
    /* margin-right: auto; */
   border: solid 2px rgb(126, 230, 133) ;
    background-color:rgba(67, 50, 92, 0.6);
    width: 40%;
    text-align: center;
    border-radius: 20px;
    padding: 3% 0px;
    position: absolute;


} 

#sign-up-title {
 color:#8aea92;
    margin-bottom: 50px;
}

input {
    width: 70%;
    height: 2rem;
    margin-bottom: 40px;
}

#terms {
     margin: 0px 2px 0 0;
    /*padding-right: 0px; */
    width: 30px;
    height: 30px;
    /* margin-top: 50px; */
    /* margin-top: 1px; */
}

#terms-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    gap: 2px;
    
}

#login-instead {
    color: #8aea92;
}

#login-instead a {
    color: rgb(223, 191, 252);
    text-decoration: none;
}



#apple-icon {
    width: 50px;
}

#sign-up-btn {
    background-color: #8aea92;
    font-weight: bold;
    cursor: pointer;
}

#sign-up-btn:hover {
    background-color: #ddfae0;
}



#bg-image {
    width: 100%;
}

.main-container {
    display: flex;
    margin-top: 50px;
}

#welcome-message {
    position: absolute;
    top: 200px;
    left: 100px;
    font-size: 2rem;
    width: 40%;
    color:#dffe96;
}

 #welcome-only {
   margin-bottom: 20px;
   color:#dffe96;
} 

.copyright {
    text-align: center;
    margin-top: 50px;
}